$whiteish: #FDFDFD;
$whiteish: #F7F7F7;
$blackish: #211F1F;

$darkgray: #484444;
$mediumgray: #626567;
$lightgray: #E3E4E4;

$world: #C9BBB7;
$mexiko: #FB8662;
$peru: #DC7F76;
$kolumbien: #F1D728;
$brasilien: #95D8A1;
$argentinien: #6A9FD6;
$stepbystep: #ed9689;
$beziehungen: #9d6ce6;
$kunden: #b4ffcf;
$start: #5ab2a0;

$countries: (stepbystep: $stepbystep, beziehungen: $beziehungen, kunden: $kunden);
